<%- include('./base/header') %>
<div class="container">
    <div class="alert bg-success my-3">
        <h4 class="text-center" style="color:white">Student has been added succefully</h4>
    </div>
</div>
<%- include('./base/footer') %>